@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Fira+Code:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-fixed {
	@apply  top-0 z-[9999] backdrop-blur-sm fixed;
	box-shadow: inset 0 -0.5px 0 0 rgba(0, 0, 0, 0.1);
}
.hamburger-menu {
	@apply w-[15px] h-[1px] my-1 block bg-[#434343] dark:bg-[#fff];
}
.hamburger-active > span:nth-child(1) {
	@apply origin-top-left rotate-45;
}
.hamburger-active > span:nth-child(2) {
	@apply scale-0;
}
.hamburger-active > span:nth-child(3) {
	@apply origin-bottom-left -rotate-45;
}
.hamburger-back {
	@apply rotate-0;
}

.hamburger-class {
	@apply block absolute right-4 md:hidden;
}
.navmenu-class {
	@apply hidden md:block;
}
.navmenu-active {
	@apply bg-[#fff] dark:bg-[#181123] dark:md:bg-transparent z-10 py-2 absolute drop-shadow-lg rounded-lg max-w-[150px] w-full right-4 top-full md:static md:bg-transparent md:max-w-full md:drop-shadow-none;
}
